# Instructions

For the second part of the assignment today, we're going to get a little bit of practice with `Pandas`. We'll ask that you do a couple of different things using the new tools that we learned about (methods for combining data sets, `pd.cut`, and `pivot tables`).

# Assignment Questions

We'll be working with the `wine` datasets that are located in the `data` folder in this day's directory. 

1) Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

2) Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data (**Hint**: See `day10-intro_pandas`, `week5` if you need a refresher on these). 

3) I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following:

In [8]:
import pandas as pd
dfred = pd.read_csv("data/winequality-red.csv", delimiter=";")
dfwhite = pd.read_csv("data/winequality-white.csv", delimiter =";")

cols = dfred.columns.to_list()
cols = [col.replace(" ","_") for col in cols]

dfred.columns = cols
dfwhite.columns = cols

dfred.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [10]:
dfred.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [9]:
dfwhite.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [11]:
dfwhite.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

  * Find the mean alcohol content, separately, for reds and whites.

In [12]:
dfred.alcohol.mean()

10.422983114446502

In [13]:
dfwhite.alcohol.mean()

10.514267047774638

  * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean.

In [37]:
dfred_alc_series =dfred["alcohol"] >= dfred.alcohol.mean()
dfred_alc_series= dfred_alc_series.rename("alcohol_over_mean")

In [38]:
dfwhite_alc_series =dfwhite["alcohol"] >= dfwhite.alcohol.mean()
dfwhite_alc_series = dfwhite_alc_series.rename("alcohol_over_mean")

  * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`.

In [46]:
dfred_joined = dfred.join(dfred_alc_series)
dfred_joined.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_over_mean
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [47]:
dfred_joined2= pd.concat([dfred, dfred_alc_series], axis=1)
dfred_joined2.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_over_mean
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [48]:
dfwhite_joined = dfwhite.join(dfwhite_alc_series)
dfwhite_joined.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_over_mean
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False

In [49]:
dfwhite_joined2= pd.concat([dfwhite, dfwhite_alc_series], axis=1)
dfwhite_joined2.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_over_mean
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False

  * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.

In [55]:
red_low = dfred_joined[dfred_joined["alcohol_over_mean"] == False]

red_low.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_over_mean
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [57]:
white_low = dfwhite_joined[dfwhite_joined["alcohol_over_mean"] == False]
white_low.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_over_mean
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,False
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,False
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,False
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,False

   
4) Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins based off their fixed acidity.

In [61]:
red_acid_bins = pd.cut(dfred_joined.fixed_acidity, 5)
red_acid_bins = red_acid_bins.rename("fixed_acidity_bins")
red_acid_bins.head()

0     (6.86, 9.12]
1     (6.86, 9.12]
2     (6.86, 9.12]
3    (9.12, 11.38]
4     (6.86, 9.12]
Name: fixed_acidity_bins, dtype: category
Categories (5, interval[float64]): [(4.589, 6.86] < (6.86, 9.12] < (9.12, 11.38] < (11.38, 13.64] < (13.64, 15.9]]

In [62]:
white_acid_bins = pd.cut(dfwhite_joined.fixed_acidity, 5)
white_acid_bins = white_acid_bins.rename("fixed_acidity_bins")
white_acid_bins.head()

0     (5.88, 7.96]
1     (5.88, 7.96]
2    (7.96, 10.04]
3     (5.88, 7.96]
4     (5.88, 7.96]
Name: fixed_acidity_bins, dtype: category
Categories (5, interval[float64]): [(3.79, 5.88] < (5.88, 7.96] < (7.96, 10.04] < (10.04, 12.12] < (12.12, 14.2]]

 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice.

In [67]:
dfred_joined_3 = dfred_joined.join(red_acid_bins)
dfred_joined_3.fixed_acidity_bins.unique()
dfred_joined_3.fixed_acidity_bins.max()

Interval(13.64, 15.9, closed='right')

In [64]:
dfwhite_joined_3 = dfwhite_joined.join(white_acid_bins)
dfwhite_joined_3.fixed_acidity_bins.unique()

[(5.88, 7.96], (7.96, 10.04], (3.79, 5.88], (10.04, 12.12], (12.12, 14.2]]
Categories (5, interval[float64]): [(3.79, 5.88] < (5.88, 7.96] < (7.96, 10.04] < (10.04, 12.12] < (12.12, 14.2]]

 * Return back to me all those rows that are **not in ** the top bin in terms of fixed acidity.

In [70]:
dfred_joined_3[dfred_joined_3.fixed_acidity_bins != dfred_joined_3.fixed_acidity_bins.max()]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_over_mean,fixed_acidity_bins
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False,"(6.86, 9.12]"
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,False,"(6.86, 9.12]"
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,False,"(6.86, 9.12]"
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,False,"(9.12, 11.38]"
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,False,"(6.86, 9.12]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,True,"(4.589, 6.86]"
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,True,"(4.589, 6.86]"
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,True,"(4.589, 6.86]"
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,False,"(4.589, 6.86]"
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,True,"(4.589, 6.86]"

In [71]:
dfwhite_joined_3[dfwhite_joined_3.fixed_acidity_bins != dfwhite_joined_3.fixed_acidity_bins.max()]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_over_mean,fixed_acidity_bins
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,False,"(5.88, 7.96]"
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,False,"(5.88, 7.96]"
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,False,"(7.96, 10.04]"
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,False,"(5.88, 7.96]"
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,False,"(5.88, 7.96]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,True,"(5.88, 7.96]"
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,False,"(5.88, 7.96]"
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,False,"(5.88, 7.96]"
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,True,"(3.79, 5.88]"
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,True,"(5.88, 7.96]"

In [79]:
dfred_joined_3.groupby("fixed_acidity_bins").count()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,alcohol_over_mean
fixed_acidity_bins,,,,,,,,,,,,,
"(4.589, 6.86]",274,274,274,274,274,274,274,274,274,274,274,274,274
"(6.86, 9.12]",913,913,913,913,913,913,913,913,913,913,913,913,913
"(9.12, 11.38]",298,298,298,298,298,298,298,298,298,298,298,298,298
"(11.38, 13.64]",102,102,102,102,102,102,102,102,102,102,102,102,102
"(13.64, 15.9]",12,12,12,12,12,12,12,12,12,12,12,12,12

5) Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
 Use a `pivot table` to solve this.

In [96]:
pd.pivot_table(dfred_joined_3[dfred_joined_3["alcohol_over_mean"] == True], index = dfred_joined_3.quality)

,alcohol,alcohol_over_mean,chlorides,citric_acid,density,fixed_acidity,free_sulfur_dioxide,pH,quality,residual_sugar,sulphates,total_sulfur_dioxide,volatile_acidity
quality,,,,,,,,,,,,,
3,10.866667,True,0.106000,0.006667,0.996760,7.766667,5.333333,3.536667,3,3.250000,0.476667,11.333333,1.261667
4,11.295000,True,0.074050,0.099000,0.995749,6.900000,10.900000,3.493000,4,3.545000,0.566000,33.300000,0.747500
5,11.088686,True,0.080701,0.274453,0.996433,8.154745,14.569343,3.368540,5,2.776642,0.626642,43.627737,0.551606
6,11.437214,True,0.079251,0.284925,0.995788,8.138209,16.320896,3.344119,6,2.464328,0.673522,38.244776,0.487478
7,11.708236,True,0.074087,0.377558,0.995834,8.734884,14.063953,3.299419,7,2.755814,0.741105,35.453488,0.398576
8,12.368750,True,0.068687,0.374375,0.994945,8.400000,14.375000,3.293750,8,2.656250,0.743750,35.000000,0.436250

In [106]:
 pd.pivot_table(dfred_joined_3[dfred_joined_3["alcohol_over_mean"] == True][["alcohol"]], index = dfred_joined_3.quality)

           alcohol
quality
3        10.866667
4        11.295000
5        11.088686
6        11.437214
7        11.708236
8        12.368750

In [107]:
pd.pivot_table(dfwhite_joined_3[dfwhite_joined_3["alcohol_over_mean"] == True][["alcohol"]], index = dfwhite_joined_3.quality)

           alcohol
quality
3        11.525000
4        11.425532
5        11.211099
6        11.604366
7        11.924761
8        12.139437
9        12.625000

 
6) Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` quintile. 
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` quintile. 
 
  Use a `pivot table` to solve this.

In [105]:
pd.pivot_table(dfred_joined_3[["alcohol"]], index = [dfred_joined_3.quality, dfred_joined_3.fixed_acidity_bins])

                              alcohol
quality fixed_acidity_bins
3       (4.589, 6.86]        9.875000
        (6.86, 9.12]        10.500000
        (9.12, 11.38]        9.150000
        (11.38, 13.64]       9.000000
4       (4.589, 6.86]       11.006667
        (6.86, 9.12]         9.981667
        (9.12, 11.38]        9.920000
        (11.38, 13.64]       9.966667
5       (4.589, 6.86]       10.304245
        (6.86, 9.12]         9.773727
        (9.12, 11.38]        9.846429
        (11.38, 13.64]      10.229630
        (13.64, 15.9]       12.050000
6       (4.589, 6.86]       11.223529
        (6.86, 9.12]        10.431985
        (9.12, 11.38]       10.687395
        (11.38, 13.64]      10.480952
        (13.64, 15.9]       10.240000
7       (4.589, 6.86]       12.195402
        (6.86, 9.12]        11.486413
        (9.12, 11.38]       11.383333
        (11.38, 13.64]      10.809524
        (13.64, 15.9]        9.866667
8       (4.589, 6.86]       13.633333
        (6.86, 9.12]        11.937500
        (9.12, 11.38]       11.916667
        (11.38, 13.64]       9.800000

In [108]:
pd.pivot_table(dfwhite_joined_3[["alcohol"]], index = [dfwhite_joined_3.quality, dfwhite_joined_3.fixed_acidity_bins])

                              alcohol
quality fixed_acidity_bins
3       (3.79, 5.88]         9.850000
        (5.88, 7.96]        10.472727
        (7.96, 10.04]       10.540000
        (10.04, 12.12]       9.650000
4       (3.79, 5.88]        10.786364
        (5.88, 7.96]        10.102564
        (7.96, 10.04]       10.126471
        (10.04, 12.12]       9.900000
5       (3.79, 5.88]        10.136635
        (5.88, 7.96]         9.732173
        (7.96, 10.04]       10.176452
        (10.04, 12.12]       9.700000
6       (3.79, 5.88]        10.902765
        (5.88, 7.96]        10.529056
        (7.96, 10.04]       10.635247
        (10.04, 12.12]       9.500000
        (12.12, 14.2]       11.100000
7       (3.79, 5.88]        12.021405
        (5.88, 7.96]        11.303724
        (7.96, 10.04]       10.988679
8       (3.79, 5.88]        12.403030
        (5.88, 7.96]        11.486364
        (7.96, 10.04]       11.080000
9       (5.88, 7.96]        12.625000
        (7.96, 10.04]       10.400000